InventoryManagementSoftwere/InventoryManagement/ConnectSQL
InventoryManagementSoftwere/InventoryManagement/Settings.cs
InventoryManagementSoftwere/InventoryManagement/Properties/Settings.Designer.cs
InventoryManagementSoftwere/InventoryManagement/Properties/Settings.settings
