InventoryManagementSoftwere/InventoryManagement/ConnectSQL
InventoryManagementSoftwere/InventoryManagement/Settings.cs
InventoryManagementSoftwere/InventoryManagement/Properties/Settings.Designer.cs
InventoryManagementSoftwere/InventoryManagement/Properties/Settings.settings
InventoryManagementSoftwere/InventoryManagement/obj/Release/netcoreapp3.1/InventoryManagement_MarkupCompile.cache
InventoryManagementSoftwere/InventoryManagement/obj/Release/netcoreapp3.1/InventoryManagement_MarkupCompile.lref
InventoryManagementSoftwere/InventoryManagement/obj/Debug/netcoreapp3.1/InventoryManagement_MarkupCompile.i.cache
InventoryManagementSoftwere/InventoryManagement/obj/Debug/netcoreapp3.1/InventoryManagement_MarkupCompile.cache
